:host {
  & .container {
    height: 100vh;
    background: var(--theme);

    & mat-grid-list {
      & mat-grid-tile {
        & form {
          width: 300px;

          & mat-toolbar {
            background: transparent;
          }

          & mat-form-field {
            width: 100%;

            & .iconfont {
              margin-right: 10px;
            }
          }

          & > div {
            margin-top: 20px;
          }
        }

        &[colspan='2'] {
          &::ng-deep .mat-figure {
            justify-content: flex-end;
          }
        }

        &[colspan='4'] {
          & img {
            width: 60%;
            min-width: 650px;
          }
        }
      }
    }
  }
}
