:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme);
  padding: 0 40px;
  box-sizing: border-box;
  box-shadow: 5px 0 5px #ccc;

  & .logo {
    display: flex;
    align-items: center;

    & h1 {
      font-size: 44px;
      line-height: 80px;
      font-weight: 700;
      outline: none;
      cursor: pointer;
      color: #333;
    }

    & p {
      margin-left: 20px;
      color: #ccc;
    }
  }

  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & li {
      line-height: 60px;
      outline: none;
      color: #333;
      cursor: pointer;

      & + li {
        margin-left: 24px;
      }

      &.router-link-active {
        color: #000;
      }
    }
  }
}

mat-menu {
  display: none;
}
