:host {
  min-height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80px 1fr;
  // grid-gap: 20px;

  header {
  }

  main {
  }

  aside {
    display: grid;
    grid-template-rows: 1fr;
  }
}
